*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

:root{

    --input-color:#F7F7F7;
    --border-color:#EBEBEB;
    --button-color:#CC312D;
}

html{
    font-size: 62.5%;
}

 .container{
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 3rem;
}
.user-dashboard{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 1rem;
    width: 100%;
    
}
.user-info{
    padding: 1rem 1rem;
}
.user-info-header{
    display:inline;
    font-size: 2rem;
}
.user-infoo-text{
    font-size: 1.4rem;
    color: #50504f;
}
.main-title{
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}
.Info-Container{
    padding: 1rem 1rem;
}
.second-title{
    color: #1A1814;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.label-info{
    font-size: 1.4rem;
    color:rgb(92, 92, 92) ;
    display: block;
    margin-bottom: 1.3rem;
}

.input-info{
    width: 240px;
    outline: 0;
    border: none;
    padding: 6px 16px 6px 16px;
    background-color: var(--input-color);
    border-radius: 16px;margin-bottom: 1.5rem;
}
@media(max-width:600px){
    .input-info{
    width: 100%;
}
}
.delivery-address-title{
    color: #1A1814;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.choose-address{
    display: flex;
    align-items: center;
    color: var(--button-color);
    font-size: 1.4rem;
    font-weight: 700;
}
.choose-address i{
    margin-left: 0.5rem;
}
.custom-textarea{
    all: unset;
    width: 95%;
    height: 80px;
    border: 2px solid var(--border-color);
    padding: 1rem 1rem;
}
.footer-title{
    display: inline;
    font-size:1.7rem ;
    
}
.select-send{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:2rem;
    white-space: nowrap;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
}
.shopping-badge{
    background-color: #ffdad7;
    color: #CC312D;
    font-weight: 800;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    margin-right: 1rem;
}

.opstion-post{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    margin-top: 4rem;
}

.opstions1,.opstions2{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: var(--input-color);
    padding: 1rem 1rem;
    border-radius: 16px;
}
.opstions1:hover,
.opstions2:hover {
  border: 1px solid var(--button-color);
}
.radio-span{
    display: flex;
    align-items: center;
}
.radio-span span{
    margin-right: 1rem;
}
.price{
    margin-right: 1rem;
    
}

.purchase-info{
    background-color: var(--input-color);
    padding: 1rem 1rem;
    border-radius: 15px;
    height: fit-content;
    padding-bottom: 3rem;
}
.purchase-info-title{
    display: flex;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}
.purchase-info-title span{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.product-img img{
width: 65px;
height:65px ;
}
.product-img{
    background-color: #ffffff;
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.items-product{
    display: flex;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}
.product-header{
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
    white-space: nowrap;
}

.header-title span{
    color: #757575;
    margin-right: 0.4rem;
}
.product-header p{
    margin-top: 0.2rem;
}
.product-footer{
    margin-right: 1rem;
    margin-top: 0.8rem;
}
.Quantity-Controls{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}
.badge-icon{
    font-size: 1.4rem;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease-out;
}
.trash-icon{
    color: #CC312D;
}
.number{
    background-color:var(--input-color);
    border: 1px solid var(--border-color);
}
.badge-icon:hover{
    background-color: #fbd3d1;
}

.payment-items-container{
    padding: 1.5rem 1.5rem;
}
.payment-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.payment-item2-container{
    padding: 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
}
.payment-gateway{
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #ffffff;
    border-radius: 8px;
}
.badge-payment-gateway{
    width: 45px;
    height: 45px;
    background-color:#EBB81140;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.gateway-text{
    margin-right: 0.7rem;
    white-space: nowrap;
}
.payment-button{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    
}
.payment-button button{
    width: 100%;
    padding: 1rem 1rem;
    background-color: #CC312D;
    color: #fff;
    border-radius: 16px;
    border: none;
    
}

@media(min-width:768px){
    .user-dashboard{
        grid-template-areas: "userinfo  purchaseinfo ";
        grid-template-columns: 60fr 40fr;
        
    }
    .user-info{
        grid-area: userinfo;
    }
    .purchase-info{
        grid-area: purchaseinfo;
    }

    .Delivery-Info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Delivery-address{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .second-delivery-address{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .opstion-post{
     display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.opstions1{
    margin-left: 0.5rem;
}
.input-info{
    margin: 1.2rem;
}
 .label-info{
        margin-top: 1.5rem;
        margin-right: 1rem;
    }
}
@media(min-width:1024px){
    .input-info{
        width: 285px;
    }
   
}

/* حذف استایل پیش‌فرض رادیو */
input[type="radio"] {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  border: 2px solid #CC312D; 
  background-color: #fff; 
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* زمانی که رادیو انتخاب می‌شود */
input[type="radio"]:checked {
  background-color: #CC312D; 
  border-color: #CC312D;
}

/* افزودن دایره داخلی برای نشان دادن انتخاب */
input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #fff; 
  border-radius: 50%; 
}
